:root {
  --header-bg: #45edc5;
  --sidebar-bg: #006aaa;
  --map-shadow-clr: #e7ecfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: #053655;
  padding: 1rem;
  font-size: 0.8rem;
  background: var(--header-bg);
}

main {
  display: flex;
  flex-direction: column-reverse;
}

.left-container,
.right-container {
  width: 90%;
  margin: 0 auto;
}

.right-container {
  display: flex;
  flex-direction: column;
}

/*sidebar section styles*/
.sidebar {
  color: white;
  padding: 2rem 0;
  background: var(--sidebar-bg);
}

.sidebar .location-img {
  height: 30vh;
  background: rgb(93, 154, 204);
  margin-bottom: 1rem;
}

.location-img image {
  width: 100%;
}

.sidebar .location-details p {
  margin-bottom: 1rem;
}

.location-details p:first-of-type {
  margin-top: 1rem;
}

a.share {
  display: block;
  text-decoration: none;
  text-align: center;
}

.temp-converters {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.temp-converters button {
  width: 45%;
  border: none;
  cursor: pointer;
  background: var(--header-bg);
  transition: 0.3s background-color;
}

.temp-converters button:hover,
.temp-converters button:focus {
  background: #30d6af;
}

/*map ssection stylee*/
form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

form input {
  border: none;
  flex-grow: 1;
  margin-bottom: 1rem;
  box-shadow: 0 3px 6px var(--map-shadow-clr);
}

.sidebar a.share {
  color: var(--sidebar-bg);
  background: white;
  width: 100%;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}

a.share,
form input,
form button,
.sidebar button {
  border-radius: 5px;
  padding: 0.9rem;
  font-size: 1rem;
}

.map-container {
  width: 100%;
  min-height: 0;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  min-height: 0;
  max-height: 70vh;
}

/*media queries*/
@media screen and (min-width: 950px) {
  main {
    flex-direction: row;
  }

  .sidebar {
    width: 30%;
    height: calc(100vh - 4rem);
  }

  .map {
    width: auto;
    flex-grow: 1;
  }

  .right-container {
    width: 80%;
  }

  .map-container {
    margin-bottom: 0;
  }

  form {
    flex-direction: row;
  }

  form button {
    flex-grow: 1;
    box-shadow: 0 3px 6px var(--map-shadow-clr);
  }
}
